*{
    margin: 0px;
}

header{
    width: 100%;
    height: 14vh;
    background-color: black;
    border-bottom: 2px solid white;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    .header{
        position: fixed;
        top: 0;
        width: 100%
      }
      .header{
        padding-top: 102px;
      }


}
ul{
    list-style: none;

    
}
li{
    display: inline-block;
    margin: 15px;
    margin-top: 35px;
    
    
}
img{
    width: 65px;
    height: 65px;
    margin-top: 12px;
    
}
span >i{
   
    margin: 15px;
    margin-top: 40px;
    align-self: flex-end;
}

a:visited {
    color: white;
  }
  
a:active {
    color: white;
  }
a:hover {
  color: rgb(139, 138, 138);
}
/*header buttons link colour removed*/

div2>a>img{
    width: 90%;
    height: 55vh;
}
/*CARS models displayed*/

div>h1{
    color: black;
    font: size 70px;
    font-family:fantasy;
    background-color: white;
    text-align: center;
    margin-top: 15px;
}

div2>h1{
    color: white;
    font: size 40px;
    font-family:fantasy;
    font-weight:600;
    background-color: black;
    text-align: center;


}

div>video{
  width: 100%;
  height: 120vh;
}

div>a>button{
    border: none;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 600px;

}

button:hover{
    color: white;
    background-color: black; 

    
}

div5>span:hover{
  <i class="fa-sharp fa-solid fa-gauge-high" style="color: #f0f0f5;"></i>
}

/*SEE MORE option color effect */
div3>h1{
    color:black;
    font-family:fantasy;
    font-size: 40px;
    background-color: white;
    text-align: left;
    margin-top: 35px;    
    margin-left: 20px;
    animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  }


div5>h2{
    font-size: 60px;
    font-family: fantasy;
    color: black;
    font-weight: 600;
    
}

div5>a>img{
    
    height: 90vh;
    width: 100%;
    
    background-color: black;
    
}
div5>p{
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: black;
    padding-inline:  2%;   
    animation-name: example;
    font-weight: 600;
  
}

@keyframes example {
    
    from{color: black;}
    to{color: rgb(99, 27, 167);}
    
  }
  @keyframes example2 {
    
    from{color: black;}
    to{color: rgb(53, 52, 52);}
    
  }
 
  
 
  h2{
    font-size: 20px;
    color: black;
    margin-left: 19px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  div5>a>image{
    width: 100%;
    height: 50vh;
  }

  div5>a>button{
    border: none;
  color: black;
  font-weight: bold;
  padding: 25px 25px;
  align-self: center;
  display: inline-block;
  font-size: 22px;
  margin-bottom: 120px;
  }
  div5>h3{
    font-family: fantasy;
    font-size: 50px;
    text-align: right;
    margin-right: 55px;
    animation-name: example2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  }
  div5>img{
    width: 60%;
    height: 80vh;
    background-color: none;
    float: right;
  }
  div6>img{
    width: 100%;
    height: 120vh;
    background-color: none;
    float: left;
    
  }
  
  
 div6>div{
  font-family: fantasy;
  font-size: 40px;
  color: black;
  margin-top: 280px;
  text-align: center;
 }
div7>p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-top: 390px;
}
.space{
  text-indent: 40px;
}
  footer{
    width: 100%;
    height: 24vh;
    background-color: black;
    border-bottom: 2px solid white;
    
    color: white;
    display: flex;
  }

  footer>img{
    margin-left: 50px;
    margin-top: 40px;
  }

  
  
  footer>ul{
    color: black;
    display: inline-block;
    align-self: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

 